	<div class="wx12 top">
		<h2>{{clase}}</h2>
		<div class="otrascat">
			<span class="icon-ellipsis"></span>
			<a href="">política</a>
			<a href="">deportes</a>
			<a href="">diálogo abierto</a>
			<a href="">showtv</a>
			<a href="">actualidad</a>
		</div>	
	</div>

	<article masonry id="categoria" class="wx12 hxa columnas">
		<div data-ng-repeat="cate in catego.notas_categoria">
			<a href="nota/{{cate.id}}/{{cate.nombre}}/{{cate.link}}">
				<div class="masonry-brick item it-cat ">
					<img src="http://www.vo-ve.com/images/{{cate.imagen}}">
					<time>{{cate.fecha}}</time>
					<h5>{{cate.titulo}}</h5>
					<p>{{cate.bajada}}</p>
				</div>
			</a>
		</div>
	</article>
	<!--PIE DE CATEGORIA
		EL DIV "CARGA" APARECE SIEMPRE ABAJO HASTA QUE SE MUESTRAN MAS NOTICIAS
	-->
	<div class="pie wx12 hxa flex al-center">
		<div class="carga icon-loader"></div>
	</div>
	<div class="ir-arriba icon-skip-back"></div>
