	<!------------ENCABEZADO DE LA CATEGORIA---->
	<div class="wx12 top">
		<h2>{NOMBRE DE LA CATEGORIA}</h2>
		<div class="otrascat">
			<span class="icon-ellipsis"></span>
			<a href="">política</a>
			<a href="">deportes</a>
			<a href="">diálogo abierto</a>
			<a href="">showtv</a>
			<a href="">actualidad</a>
		</div>	
	</div>
	<!------------CAJA DONDE SE REPITEN LAS NOTICAS------------>
	<article masonry id="categoria" class="wx12 hxa columnas" >
		<!--EL SIGUIENTE A SE REPITE POR CADA NOTA---->
		<div data-ng-repeat="cat in categoria.notas_categoria">
			<a href="nota/{{cat.link}}">
				<div class="item it-cat masonry-brick">
					<img src="">
					<time>{{cat.fecha}}</time>
					<h5>{{cat.titulo}}</h5>
					<p>{{cat.bajada}}</p>
				</div>
			</a>
		</div>
	</article>
	<!--PIE DE CATEGORIA
		EL DIV "CARGA" APARECE SIEMPRE ABAJO HASTA QUE SE MUESTRAN MAS NOTICIAS
	-->
	<div class="pie wx12 hxa flex al-center">
		<div class="carga icon-loader"></div>
	</div>
<div class="ir-arriba icon-skip-back"></div>
