	<div data-ng-include='templates/aside.html'></div>
		<article class="">
			<!--grande-->
			<div class="item it-3x2">
				<div class="wx4 hx12">
					<h3>Aliquam a auctor magna. Aenean molestie volutpat nulla</h3>
					<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				</div>
			</div>
			<!--mediano-->
			<div class="item it-2x2">
				<div class="wx12">
					<h4>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h4>
					<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				</div>
			</div>
			
			<!--verticales-->
			<div class="item it-1x2">
				<div class="wx12 hx4"></div>
				<h5>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				<span class="icon facebook"></span>
				<span class="icon twitter"></span>
			</div>
			<div class="item it-1x2">
				<div class="wx12 hx4"></div>
				<h5>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				<span class="icon facebook"></span>
				<span class="icon twitter"></span>
			</div>
			<div class="item it-1x2">
				<div class="wx12 hx4"></div>
				<h5>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				<span class="icon facebook"></span>
				<span class="icon twitter"></span>
			</div>



			<!--horizontales-->
			<div class="item it-2x1">
					<div class="wx4 hx12"></div>
					<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
					<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
					<span class="icon-facebook"></span>
					<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>	

	
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
		</article>
	</section>

	<section class="hx1 col-bas12">
		<article class="politica">
			<!--grande-->
			<div class="item it-3x2">
				<div class="wx4 hx12">
					<h3>Aliquam a auctor magna. Aenean molestie volutpat nulla</h3>
					<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				</div>
			</div>
			<!--mediano-->
			<div class="item it-2x2">
				<div class="wx12">
					<h4>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h4>
					<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				</div>
			</div>
			
			<!--verticales-->
			<div class="item it-1x2">
				<div class="wx12 hx4"></div>
				<h5>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				<span class="icon facebook"></span>
				<span class="icon twitter"></span>
			</div>
			<div class="item it-1x2">
				<div class="wx12 hx4"></div>
				<h5>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				<span class="icon facebook"></span>
				<span class="icon twitter"></span>
			</div>
			<div class="item it-1x2">
				<div class="wx12 hx4"></div>
				<h5>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				<span class="icon facebook"></span>
				<span class="icon twitter"></span>
			</div>



			<!--horizontales-->
			<div class="item it-2x1">
					<div class="wx4 hx12"></div>
					<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
					<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
					<span class="icon-facebook"></span>
					<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>	

	
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
		</article>
	</section>
	<section class="hx1 col-bas12">
		<article class="deportes">
			<!--grande-->
			<div class="item it-3x2">
				<div class="wx4 hx12">
					<h3>Aliquam a auctor magna. Aenean molestie volutpat nulla</h3>
					<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				</div>
			</div>
			<!--mediano-->
			<div class="item it-2x2">
				<div class="wx12">
					<h4>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h4>
					<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				</div>
			</div>
			
			<!--verticales-->
			<div class="item it-1x2">
				<div class="wx12 hx4"></div>
				<h5>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				<span class="icon facebook"></span>
				<span class="icon twitter"></span>
			</div>
			<div class="item it-1x2">
				<div class="wx12 hx4"></div>
				<h5>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				<span class="icon facebook"></span>
				<span class="icon twitter"></span>
			</div>
			<div class="item it-1x2">
				<div class="wx12 hx4"></div>
				<h5>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				<span class="icon facebook"></span>
				<span class="icon twitter"></span>
			</div>



			<!--horizontales-->
			<div class="item it-2x1">
					<div class="wx4 hx12"></div>
					<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
					<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
					<span class="icon-facebook"></span>
					<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>	

	
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
		</article>
	</section>
	<section class="hx1 col-bas12">
		<article class="economia">
			<!--grande-->
			<div class="item it-3x2">
				<div class="wx4 hx12">
					<h3>Aliquam a auctor magna. Aenean molestie volutpat nulla</h3>
					<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				</div>
			</div>
			<!--mediano-->
			<div class="item it-2x2">
				<div class="wx12">
					<h4>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h4>
					<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				</div>
			</div>
			
			<!--verticales-->
			<div class="item it-1x2">
				<div class="wx12 hx4"></div>
				<h5>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				<span class="icon facebook"></span>
				<span class="icon twitter"></span>
			</div>
			<div class="item it-1x2">
				<div class="wx12 hx4"></div>
				<h5>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				<span class="icon facebook"></span>
				<span class="icon twitter"></span>
			</div>
			<div class="item it-1x2">
				<div class="wx12 hx4"></div>
				<h5>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				<span class="icon facebook"></span>
				<span class="icon twitter"></span>
			</div>



			<!--horizontales-->
			<div class="item it-2x1">
					<div class="wx4 hx12"></div>
					<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
					<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
					<span class="icon-facebook"></span>
					<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>	

	
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
		</article>
	</section>
	<section class="hx1 col-bas12">
		<article class="actualidad">
			<!--grande-->
			<div class="item it-3x2">
				<div class="wx4 hx12">
					<h3>Aliquam a auctor magna. Aenean molestie volutpat nulla</h3>
					<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				</div>
			</div>
			<!--mediano-->
			<div class="item it-2x2">
				<div class="wx12">
					<h4>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h4>
					<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				</div>
			</div>
			
			<!--verticales-->
			<div class="item it-1x2">
				<div class="wx12 hx4"></div>
				<h5>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				<span class="icon facebook"></span>
				<span class="icon twitter"></span>
			</div>
			<div class="item it-1x2">
				<div class="wx12 hx4"></div>
				<h5>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				<span class="icon facebook"></span>
				<span class="icon twitter"></span>
			</div>
			<div class="item it-1x2">
				<div class="wx12 hx4"></div>
				<h5>Donec eget odio a nibh aliquet tincidunt volutpat sit amet elit.</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum</p>
				<span class="icon facebook"></span>
				<span class="icon twitter"></span>
			</div>



			<!--horizontales-->
			<div class="item it-2x1">
					<div class="wx4 hx12"></div>
					<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
					<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
					<span class="icon-facebook"></span>
					<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>
			<div class="item it-2x1">
				<div class="wx4 hx12"></div>
				<h5>Aliquam a auctor magna. Aenean molestie volutpat nulla</h5>
				<p>Donec egestas risus at orci malesuada consequat. Phasellus egestas pharetra diam et suscipit. Sed sagittis placerat consequat. Praesent bibendum </p>
				<span class="icon-facebook"></span>
				<span class="icon-twitter"></span>
			</div>	

	
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
			<div class="item it-1x1">
				<h5>Mea ex elit similique, nec illud iisque ullamcorper et, integre ceteros patrioque ea pro</h5>
			</div>
		</article>
	<div class="bot-nav icon-move"></div>
	<div class="bot-share icon-share"></div>

	<script>
		var $grid = $('article').masonry({
		  itemSelector: '.item',
		  columnWidth: 250
		});
		// layout Isotope after each image loads
		$grid.imagesLoaded().progress( function() {
		  $grid.masonry();
		});  
	</script>
