	<div class="desplazador hx12">
		<article masonry reload-on-show="true" column-width="250" class="actualidad">
			<div data-ng-repeat="actualidad in home.notas_actualidad track by actualidad.id">
				<a href="nota/{{actualidad.id}}/{{actualidad.nombre}}/{{actualidad.link}}">
				<div class="masonry-brick item it-3x2 {{actualidad.rango}}" style="background-image: url(http://69.61.93.75/images/{{actualidad.imagen}})" data-ng-show="{{actualidad.rango == 'destacado'}}">
						<div class="wx4 hx12">
							<time>{{actualidad.fecha}}</time>
							<h3>{{actualidad.titulo}}</h3>
							<p>{{actualidad.bajada}}</p>
						</div>
				</div>
				</a>
			</div>
			<div data-ng-repeat="actualidad in home.notas_actualidad track by actualidad.id">
				<a href="nota/{{actualidad.id}}/{{actualidad.nombre}}/{{actualidad.link}}">
				<div class="masonry-brick item it-doble {{actualidad.rango}}" data-ng-show="{{actualidad.rango == 'normal'}}">
					<div  style="background-image: url(http://69.61.93.75/images/{{actualidad.imagen}})"></div>
					<time>{{actualidad.fecha}}</time>
					<h5>{{actualidad.titulo}}</h5>
					<p>{{actualidad.bajada}}</p>
				</div>
				</a>
			</div>
		</article>
	</div>

	<div class="desplazador wx12 hx12">
		<article masonry reload-on-show column-width="250" class="politica">
			<div data-ng-repeat="politica in home.notas_politica track by politica.id">
				<a href="nota/{{politica.id}}/{{politica.nombre}}/{{actualidad.link}}">
				<div class="masonry-brick item it-3x2 {{politica.rango}}" style="background-image: url(http://69.61.93.75/images/{{politica.imagen}})" data-ng-show="{{politica.rango == 'destacado'}}">
						<div class="wx4 hx12">
							<time>{{politica.fecha}}</time>
							<h3>{{politica.titulo}}</h3>
							<p>{{politica.bajada}}</p>
						</div>
				</div>
				</a>
			</div>
			<div data-ng-repeat="politica in home.notas_politica track by politica.id">
				<a href="nota/{{politica.id}}/{{politica.nombre}}/{{actualidad.link}}">
				<div class="masonry-brick item it-doble {{politica.rango}}" data-ng-show="{{politica.rango == 'normal'}}">
					<div  style="background-image: url(http://69.61.93.75/images/{{politica.imagen}})"></div>
					<time>{{politica.fecha}}</time>
					<h5>{{politica.titulo}}</h5>
					<p>{{politica.bajada}}</p>
				</div>
				</a>
			</div>
		</article>
	</div>

	<div class="desplazador wx12 hx12">
		<article masonry reload-on-show column-width="250" class="entretenimiento">
			<div data-ng-repeat="entretenimiento in home.notas_entretenimiento track by entretenimiento.id">
				<a href="/nota/{{entretenimiento.id}}/{{entretenimiento.nombre}}/{{entretenimiento.link}}">
				<div class="masonry-brick item it-3x2 {{entretenimiento.rango}}" style="background-image: url(http://69.61.93.75/images/{{entretenimiento.imagen}})" data-ng-show="{{entretenimiento.rango == 'destacado'}}">
						<div class="wx4 hx12">
							<time>{{entretenimiento.fecha}}</time>
							<h3>{{entretenimiento.titulo}}</h3>
							<p>{{entretenimiento.bajada}}</p>
						</div>
				</div></a>
			</div>
			<div data-ng-repeat="entretenimiento in home.notas_entretenimiento track by entretenimiento.id">
				<a href="/nota/{{entretenimiento.id}}/{{entretenimiento.nombre}}/{{entretenimiento.link}}">
				<div class="masonry-brick item it-doble {{entretenimiento.rango}}" data-ng-show="{{entretenimiento.rango == 'normal'}}">
					<div  style="background-image: url(http://69.61.93.75/images/{{entretenimiento.imagen}})"></div>
					<time>{{entretenimiento.fecha}}</time>
					<h5>{{entretenimiento.titulo}}</h5>
					<p>{{entretenimiento.bajada}}</p>
				</div>
				</a>
			</div>
		</article>
	</div>	

	<div class="desplazador wx12 hx12">
		<article masonry reload-on-show column-width="250" class="deportes">
			<div data-ng-repeat="deportes in home.notas_deportes track by deportes.id">
				<a href="/nota/{{deportes.id}}/{{deportes.nombre}}/{{deportes.link}}">
				<div class="masonry-brick item it-3x2 {{deportes.rango}}" style="background-image: url(http://69.61.93.75/images/{{deportes.imagen}})" data-ng-show="{{deportes.rango == 'destacado'}}">
						<div class="wx4 hx12">
							<time>{{deportes.fecha}}</time>
							<h3>{{deportes.titulo}}</h3>
							<p>{{deportes.bajada}}</p>
						</div>
				</div></a>
			</div>
			<div data-ng-repeat="deportes in home.notas_deportes track by deportes.id">
				<a href="/nota/{{deportes.id}}/{{deportes.nombre}}/{{deportes.link}}">
				<div class="masonry-brick item it-doble {{deportes.rango}}" data-ng-show="{{deportes.rango == 'normal'}}">
					<div  style="background-image: url(http://69.61.93.75/images/{{deportes.imagen}})"></div>
					<time>{{deportes.fecha}}</time>
					<h5>{{deportes.titulo}}</h5>
					<p>{{deportes.bajada}}</p>
				</div>
				</a>
			</div>
		</article>
	</div>	

	<div class="desplazador wx12 hx12">
		<article masonry reload-on-show column-width="250" class="dialogo">
			<div data-ng-repeat="dialogo in home.notas_dialogo track by dialogo.id">
				<a href="/nota/{{dialogo.id}}/{{dialogo.nombre}}/{{dialogo.link}}">
				<div class="masonry-brick item it-3x2 {{dialogo.rango}}" style="background-image: url(http://69.61.93.75/images/{{dialogo.imagen}})" data-ng-show="{{dialogo.rango == 'destacado'}}">
						<div class="wx4 hx12">
							<time>{{dialogo.fecha}}</time>
							<h3>{{dialogo.titulo}}</h3>
							<p>{{dialogo.bajada}}</p>
						</div>
				</div></a>
			</div>
			<div data-ng-repeat="dialogo in home.notas_dialogo track by dialogo.id">
				<a href="/nota/{{dialogo.id}}/{{dialogo.nombre}}/{{dialogo.link}}">
				<div class="masonry-brick item it-doble {{dialogo.rango}}" data-ng-show="{{dialogo.rango == 'normal'}}">
					<div  style="background-image: url(http://69.61.93.75/images/{{dialogo.imagen}})"></div>
					<time>{{dialogo.fecha}}</time>
					<h5>{{dialogo.titulo}}</h5>
					<p>{{dialogo.bajada}}</p>
				</div>
				</a>
			</div>
		</article>
	</div>	
	<div class="bot-nav icon-move"></div>
<script src="js/scr-principal.js"></script>